<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.PERSONALTRACKINGAPPConnectionString"
            connectionString="Data Source=DESKTOP-SH7B64O;Initial Catalog=PERSONALTRACKINGAPP;Persist Security Info=True;User ID=sa;Password=mysqlexpress;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAO.Properties.Settings.PERSONALTRACKINGAPPConnectionString1"
            connectionString="Data Source=DESKTOP-SH7B64O;Initial Catalog=PERSONALTRACKINGAPP;Persist Security Info=True;User ID=sa;Password=mysqlexpress;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>